@import "vars";

body {
  font-family: $family-primary;
  padding: 0px;
  margin: 0px;
}

// transition

.text-hover-transition {
  transition: color 0.4s ease-in-out;
}

a:hover{
  cursor: pointer;
}
a {
  text-decoration: none;
  color: $common-color;
  outline:none;
}

.text-hover-transition {
  transition: color 0.4s ease-in-out;
}
.el-menu--popup-bottom-start {
  background-color: white!important;
}
.el-menu--horizontal>.el-submenu .el-submenu__title{
  border-bottom: none!important;
  height: 64px!important;
  line-height: 64px!important;
  &:hover {
    background: none!important;
  }
}
.el-menu--horizontal .el-menu .el-menu-item, .el-menu--horizontal .el-menu .el-submenu__title{
  &:hover {
    background: none!important;
  }
}
.el-menu--horizontal>.el-submenu.is-active .el-submenu__title{
  border-bottom: none!important;
}

.head, .title h2, h1, h2, h3, h4, h5, h6 {
  font-family: $family-title;
  font-weight: 450; 
}

.table-title {
  font-family: $family-title;
  font-size: 16px;
  color: $common-color;
  letter-spacing: 0;
  margin-top: 10px;
  font-weight: 700; 
}
// tabs

.tab-wrapper {
  margin-top: 30px;
  margin-left: 11px; 
  display: flex;
  .tab-content {
    min-width: 98px;
    padding: 0 10px;
    height: 40px;
    font-size: 14px;
    letter-spacing: 0.3px;
    text-align: center;
    line-height: 40px;
    border-radius: 4px 4px 0 0;
    cursor: pointer;
    color: $common-color;
  }
  .is-active {
    color: white;
    background-color: $common-color;
  }
}


// input

.input:focus, .input.is-focused, .input:active, .input.is-active, .textarea:focus, .textarea.is-focused, .textarea:active, .textarea.is-active {
  border-color: $light-blue;
  box-shadow: 0 0 0 0.125em rgba(54,130,222, 0.25);
}

.button:focus, .button.is-focused {
  border-color: $common-color;
  color: white;
}

.button:focus:not(:active), .button.is-focused:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(54,130,222, 0.25);
}

// pre
pre {
  resize: both;
  overflow: auto;
  padding: .75rem;
  border: 1px solid #e7eaf3;
  background-color: #f8f9fa;
  border-radius: .25rem;
  margin-bottom: .5rem;
  display: block;
  font-size: 87.5%;
  color: #1e2022;
  margin-top: 0;
}

.wordwrap {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
