@import "vars";

body {
  font-family: $font-family-light;
  padding: 0px;
  margin: 0px;
}

// transition

.text-hover-transition {
  transition: color 0.4s ease-in-out;
}

a:hover{
  cursor: pointer;
}
a {
  text-decoration: none;
}
// input

.input:focus, .input.is-focused, .input:active, .input.is-active, .textarea:focus, .textarea.is-focused, .textarea:active, .textarea.is-active {
  border-color: $light-blue;
  box-shadow: 0 0 0 0.125em rgba(54,130,222, 0.25);
}

.button:focus, .button.is-focused {
  border-color: $light-blue;
  color: $light-blue;
}

.button:focus:not(:active), .button.is-focused:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(54,130,222, 0.25);
}
