$font-family-light: "open sans", Arial, sans-serif;
$font-family-main: "Helvetica Neue",Helvetica,Arial,sans-serif;
$font-family-title: PingFangSC-Semibold, Arial, Sans-serif;

$family-title: $font-family-light;
$family-primary: $font-family-main;
$gap:16px;
$light-blue: rgba(54,130,222,1);
$footer-background-color: white;
$navbar-height: 72px;
$border-color: #E5EDF3;
$common-color:#3498db;
$common-background: #DEECFF;
$detail-color: #3498db;
$table-stripe: #F6F9FE;
$disabled-color: #E5EDF3;

$mobile: 768px;
$tablet: 1024px;

@import "mixins";

