$font-family-light: PingFangSC-Regular,Arial,Sans-serif;
$font-family-main: PingFangSC-Medium,Arial,Sans-serif;
$font-family-title: PingFangSC-Semibold, Arial, Sans-serif;

$family-serif: $font-family-light;
$family-primary: $font-family-light;
$gap:16px;
$dark-blue: #032841;
$light-blue: rgba(54,130,222,1);
$footer-background-color: white;
$navbar-height: 72px;
$border-color: #b8b8b8;
$common-color:#005CC7;

